body{
    background:rgb(246, 253, 246);
}
.section_ttl{
    background:lightgreen;
}
.section_text{
    background:cornsilk;
}
.img_border{
    border:solid 3px rgb(28, 236, 122);
    padding:3px;
 }